:root {
    --blanco: #fff;
    --oscuro: #000;
    --primario: #c4bef4;
    --secundario: #a5e2e9;
    --terciario: #f9db4a;
    --gris: #757575;

}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Esto es para que el padding y margin no afecten el tamaño de los elementos */
    /*Box Model*/
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px; /* 16px × 62.5% = 10px */ 
    font-family: 'Krub', sans-serif;
    /* All this means that:  1rem = 10px*/
}
.buttom{
    background-color: var(--secundario);
    font-weight: bold;
    color: var(--oscuro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}
/* Esto es para agregar el boton de Contact Me
y además centra el boton, le agrega un fondo, modifica el tamaño de la letra, 
alinieación y hace que se centre en la pagina */

@media (min-width:768px){
    /*Esto es para que cuando la pantalla sea mayor a 768px se aplique lo siguiente*/
    .buttom{
        width: auto;
    }
}

/* Tipografias*/
h1{
    font-size: 3.8rem; /* 3.8rem = 38px */
}
h2{
    font-size: 2.8rem; 
}
h3{
    font-size: 1.8rem; 
}
h1,h2,h3{
    text-align: center;
}

/* Titulos */
.title  span {
    font-size: 2rem; /* 2rem = 20px */
}
.container{
    max-width: 120rem;
    margin: 0 auto;
    /* Esto es para que el contenedor se centre en la pagina */
    /* Si tan solo hay dos valores en el margen css identificara que el primer dato es arriba, abajo y el segundo, izquierda, derecha. */
}

/* Navegación principal */
.nav-bg{
    background-color: var(--secundario);
}
.main-navigation{ 
    display: flex;
    /*Esto es para que los elementos se acomoden en una sola linea*/
    flex-direction: column; 
    align-items: center;    
}
@media (min-width:768px){
    /*Esto es para que cuando la pantalla sea mayor a 768px se aplique lo siguiente*/
     .main-navigation{
        flex-direction: row;
        justify-content: space-between;
         /*Esto es para que los elementos se acomoden en una sola linea y se distribuyan de manera equitativa*/
     }
}
.main-navigation a{
    color: var(--oscuro);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    /*El padding agrega grosor a un elemento de afuera hacía dentro en comparación de un margin el cual es de donde termina el elemnto hacia fuera*/
}
.main-navigation a:hover{
    background-color: var(--primario);
    color: var(--blanco);
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    /*Esto es para colocar una imagen de fondo*/
    background-repeat: no-repeat;
    /*Esto es para que la imagen no se repita*/
    background-size: cover;
    /*Esto es para que la imagen se ajuste al tamaño del contenedor*/
    height: 410px;
    position: relative;
}
.content-hero{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.6);*/ /*Sintaxis anterior: background-color: rgba(0, 0, 0, 0.6);*/
    background-color: rgb(0 0 0/ 60%);
    width: 100%;
    height: 100%;
    
    display : flex;
    flex-direction: column;
    align-items: center; /*Esto es para que los elementos se acomoden en el centro en el eje horizontal*/
    justify-content: center; /*Esto es para que los elementos se acomoden en el centro en el eje vertical*/

}
.content-hero h2, .content-hero p{
    color: var(--blanco);
    
}

/*Ubicaciones*/
.ubication{
    display: flex;
    align-items: flex-end;
}